/node_modules
/public/storage/
/vendor
/.idea
/.vscode
/.DS_Store
.DS_Store
app/Http/.DS_Store
/app/Http/Controllers/.DS_Store
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
Homestead.json
Homestead.yaml
.env
package-lock.json
storage/*
/nbproject/private/
/nbproject
*/.DS_Store
dump.rdb
/public/upload/*
/public/build
/public/js/main.js
/public/js/main.js.map
/public/css/pc/
/public/css/app.css
/public/css/app.css.map
public/js/main.js
public/js/main.js.map
public/css/app.css
public/css/app.css.map
public/build/js/main.js.map
/public/js/theme.js
/public/js/theme.js.map
public/js/theme.js
public/js/theme.js.map
public/js/app.js
public/js/app.js.map
public/js/chunk.*.js
storage/
/public/dist/
/public/buildimg/
/public/mix-manifest.json
bootstrap/cache/*
conf/*.ini